option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_NAME: "desafiodb-secret"
    AWS_REGION: "sa-east-1"

commands:
  01_get_secrets:
    command: |
      SECRET_NAME=${SECRET_NAME}
      REGION=${AWS_REGION}

      SECRET_JSON=$(aws secretsmanager get-secret-value --secret-id $SECRET_NAME --region $REGION --query SecretString --output text)

      DATASOURCE_HOST=$(echo $SECRET_JSON | jq -r '.host')
      DATASOURCE_PORT=$(echo $SECRET_JSON | jq -r '.port')
      DATASOURCE_SCHEME=$(echo $SECRET_JSON | jq -r '.dbInstanceIdentifier')
      DATASOURCE_USERNAME=$(echo $SECRET_JSON | jq -r '.username')
      DATABASE_PASSWORD=$(echo $SECRET_JSON | jq -r '.password')

      echo "export DATABASE_USERNAME=${DATASOURCE_HOST}" >> /opt/java/openjdk/bin/activate
      echo "export DATABASE_PASSWORD=${DATASOURCE_PORT}" >> /opt/java/openjdk/bin/activate
      echo "export DATABASE_PASSWORD=${DATASOURCE_SCHEME}" >> /opt/java/openjdk/bin/activate
      echo "export DATABASE_PASSWORD=${DATASOURCE_USERNAME}" >> /opt/java/openjdk/bin/activate
      echo "export DATABASE_PASSWORD=${DATABASE_PASSWORD}" >> /opt/java/openjdk/bin/activate