option_settings:
  aws:elasticbeanstalk:application:environment:
    DATASOURCE_HOST: '{{resolve:secretsmanager:desafiodb-secret:host:localhost}}'
    DATASOURCE_PORT: '{{resolve:secretsmanager:desafiodb-secret:port:3306}}'
    DATASOURCE_SCHEME: '{{resolve:secretsmanager:desafiodb-secret:dbInstanceIdentifier:3306}}'
    DATASOURCE_USERNAME: '{{resolve:secretsmanager:desafiodb-secret:username:}}'
    DATASOURCE_PASSWORD: '{{resolve:secretsmanager:desafiodb-secret:password:}}'